@import "../../functions.scss";
@import "../../defaults.scss";

.signUpBox {
	padding-left: 20px;
	height: 100%;
	
	.email {
		@extend %formInput;
	}
	
	.username {
		@extend %formInput;
	}
	
	.text-danger {
		margin-top: 20px;
	}
	
	.password {
		@extend %formInput;
	}
	
	.submit {
		@extend %submit;
		width: 10em;
	}
	
}

