@import "../App/functions.scss";

.signInBox {
	padding-top: 80px;
    padding-left: 20px;
    height: 100%;
}

.email {
	display: block;
	p {
		margin: 20px 0px 10px 0px;
	}
	input {
        width: 20em;
		border-style: solid;
		border-color: getColor(border);
		border-width: 1.5px;
		border-radius: 5px;
		padding: 5px;
	}
}

.text-danger {
    margin-top: 20px;
}

.password {
    display: block;
	p {
		margin: 20px 0px 10px 0px;
	}
	input {
        width: 20em;
		border-style: solid;
		border-color: getColor(border);
		border-width: 1.5px;
		border-radius: 5px;
		padding: 5px;
	}
}

.submit {
    background-color: getColor(primary);
    color: #ffffff;
    border-style: solid;
    border-width: 1.5px;
    border-color: getColor(primary);
    border-radius: 5px;
    margin: 20px 30px 0px 0px;
    width: 6em;
    height: 2.5em;
}

.guestButton {
    background-color: getColor(bg);
    color: getColor(base);
    border-style: solid;
    border-width: 1.5px;
    border-color: getColor(secondary);
    border-radius: 5px;
    margin: 20px 30px 0px 0px;
    width: 8em;
    height: 2.5em;
}

.guestButton:hover {
    background-color: getColor(secondary);
}
