@import "../../functions.scss";
@import "../../defaults.scss";

.signInBox {
	padding-left: 20px;
	height: 100%;

	.email {
		@extend %formInput;
	}

	.text-danger {
		margin-top: 20px;
	}

	.password {
		@extend %formInput;
	}

	.submit {
		@extend %submit;
	}

	.guestButton {
		@extend %submit;
		background-color: getColor(bg);
		color: getColor(base);
		border-color: getColor(secondary);
	}

	.guestButton:hover {
		background-color: getColor(secondary);
		color: #ffffff;
	}
}
