@import "../App/functions.scss";

.submitChange {
    background-color: getColor(primary);
    color: #ffffff;
    border-style: solid;
    border-width: 1.5px;
    border-color: getColor(primary);
    border-radius: 5px;
    margin: 20px 30px 0px 0px;
    width: 8em;
}