.card__chart {
    width: inherit;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media print {
    .card__chart {
        height: 300px;
    }
}