.card__close {
    background-color: $white;
    border: none;
    font-size: $title-font-size;
    color: rgba($black, 0.7);
    position: absolute;
    align-items: center;
    right: 22px;
    top: 22px;
    padding: 0;
}

.card__close:hover {
    cursor: pointer;
    color: rgba($black, 0.5);
}

@media print {
    .card__close {
        display: none;
    }
}