@import "../variables.scss";

@import "card__chart.scss";
@import "card__title.scss";
@import "card__chart_hidden.scss";
@import "card__close";
@import "card_hidden";
@import "card__header";
@import "card__footer";

.card {
    position: relative;
    margin: 30px auto;
    height: 22rem;
    border-radius: 20px;
    background: $white;
    box-shadow: 33px 33px 67px #dbdbdb, -33px -33px 67px $white;
    border: 2px dashed $white;
}

.card_red {
    border: 1px solid $red;
}

.card_hidden {
    border: 2px dashed $yellow;
}

@media print {
    .card {
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        height: 45.13vh;
        border: 1px solid rgba($black, 0.2);
        background: $white;
        box-shadow: none;
    }

    .card_red {
        border: 1px solid $red;
    }

    .card_hidden {
        display: none;
    }
}