@import "../variables.scss";

.card__footer {
    position: absolute;
    height: 3rem;
    bottom: 0;
    left: 20px;
    font-size: $alt-font-size;
    color: rgba($black, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__footer_hidden {
    display: none;
}