@use "../base";

@import "./edit__add.scss";
@import "./edit__cell.scss";
@import "./edit__input.scss";
@import "./edit__remove.scss";
@import "./edit__select.scss";

.edit {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    height: 10.5rem;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(base.$black, 0.2);
    width: 20rem;
    overflow: auto;
    overflow-x: hidden;
}

@media all and (min-width: 1360px) {
    .edit {
        position: absolute;
        top: calc(50vh - 9.5rem);
        left: calc(50vw - 36rem);
    }
}
