@import "../variables.scss";

@import "./edit__add.scss";
@import "./edit__cell.scss";
@import "./edit__input.scss";
@import "./edit__remove.scss";
@import "./edit__select.scss";

.edit {
    margin-top: 5px;
    display: flex;
    height: 10rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba($black, 0.2);
    width: 20rem;
    overflow: auto;
    overflow-y: hidden;

    flex-direction: column;
}

@media all and (min-width: 1360px) {
    .edit {
        position: absolute;
        top: calc(50vh - 9.5rem);
        left: calc(50vw - 36rem);
    }
}
