.edit__cell {
    width: 8rem;
    height: 2.5rem;
    text-align: left;
    margin-top: 7.5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid rgba($black, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}