.edit__input {
    width: 9rem;
    height: 2rem;
    margin-top: 7.5px;
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-around;

    input {
        width: 5rem;
        height: 2rem;
        padding-left: 5px;
        font-size: 16px;
        border-radius: 5px;
        border-style: solid;
        border-color: rgba($black, 0.2);
        border-width: 1px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    button {
        border: none;
        font-size: 18px;
        background-color: $white;
    }

    button:hover {
        cursor: pointer;
    }
}
