.edit__cell {
    width: 8rem;
    height: 2.5rem;
    text-align: left;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(base.$black, 0.2);
    overflow: hidden;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include base.for-phone-only {
        width: 6rem;
    }
}
