.edit__add {
    width: 8rem;
    height: 2.5rem;
    text-align: left;
    margin: 0.5rem;
    font-size: 20px;
    border: 1px solid rgba($black, 0.2);
    border-radius: 5px;
    background-color: $white;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit__add:hover {
    cursor: pointer;
    background-color: rgba($black, 0.1);
}
