@import "../../functions.scss";

.brandBox {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: getColor(base);
  flex-direction: column;
}

.brand {
  font-size: 10vmin;
  margin-bottom: 0;
}

.startButton {
  background-color: getColor(bg);
  color: getColor(base);
  border-color: getColor(primary);
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 4vmin;
  transition: 0.4s;
}

.startButton:hover {
  transition: 0.4s;
  background-color: getColor(primary);
  color: #ffffff;
}

.description {
  font-size: 3vmin;
  color: getColor(light);
}
