@import "../../functions.scss";

.brandBox {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: getColor(base);
}

.brand {
  font-size: 10vmin;
}

.description {
  font-size: 4vmin;
  color: getColor(light);
}
