.printRoot {
  height: 100%;
  padding-top: 20px;
  .detailsContent p {
    margin-left: 10px;
  }

  .notesInput {
    width: 50%;
  }

  .cardsHolder {
    flex-wrap: wrap;
    display: flex;
  }

  .card {
    margin: 10px;
    height: 376.75px;
    background-color: getColor(bg);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .updateButton {
    background-color: getColor(secondary);
    color: #ffffff;
    border-style: solid;
    border-radius: 5px;
    border-color: getColor(secondary);
    float: right;
    width: 5em;
    height: 2.5em;
  }

  .center {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .detailsBox {
    top: 0px;
    margin: 0px 0px 10px 20px;
    border-radius: 5px;
    display: flex;
    border-style: solid;
    border-color: getColor(bg);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-width: 1.5px;
    height: 50%;
  }

  .detailsBox h5 {
    background-color: getColor(nav-bg);
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
  }

  .detailsBox hr {
    border-top: 1px solid getColor(base);
  }

  .detailsContent form {
    margin: 10px;
    display: block;
  }

  .infoBox {
    background-color: getColor(bg);
    height: 100%;
  }

  .abbreviations {
    display: block;
    height: 50%;
    margin: 10px 0px 10px 20px;
    width: 50%;
    border-style: solid;
    border-color: getColor(bg);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border-width: 1.5px;
  }

  .abbreviations h5 {
    background-color: getColor(nav-bg);
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
  }

  .abbreviations hr {
    border-top: 1px solid getColor(base);
  }

  .abbreviationsContent {
    margin: 10px;
  }
}
