@import "card-list__header";

.card-list {
    display: flex;
    margin-top: 18vh;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-around;

    @include base.for-phone-only {
        flex-direction: column;
    }

    @include base.for-print {
        position: absolute;
        flex-direction: row;
        margin-top: 0;
        top: 100vh;
    }
}
