@use "src/styles/base.scss";
@import "card-list__header";

.card-list {
    display: flex;
    gap: 5px;
    margin-top: 18vh;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-around;

    @include base.for-tablet-landscape-down {
        flex-direction: column;
    }

    @include base.for-print {
        flex-direction: row;
        margin: 0;
        gap: 0 !important;
        box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
    }
}
