@use "src/styles/base.scss";
.card-list__header {
    width: 100%;
    margin-bottom: 20px;
    margin: 0;
    display: flex;
    justify-content: space-around;

    @include base.for-print {
        display: none;
    }
}
