@import "card-list__header";

.card-list {
    display: flex;
    margin-top: 15vh;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-around;
}

@media all and (max-width: 750px) {
    .card-list {
        flex-direction: column;
    }
}

@media print {
    .card-list {
        position: absolute;
        flex-direction: row;
        margin-top: 0;
        top: 100vh;
    }
}
