@import "./form__oauth_fb.scss";
@import "./form__oauth_gl.scss";

.form__oauth {
    width: 17rem;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */

    .icon {
        margin-left: 10px;
        float: left;
        margin-top: 1px;
    }
}

.form__oauth:hover {
    cursor: pointer;
}
