@import "../variables.scss";

@import "./nav__account-menu.scss";
@import "./nav__account-menu_expanded.scss";
@import "./nav__menu.scss";
@import "./nav__menu_expanded.scss";
@import "./nav__avatar.scss";
@import "./nav__link.scss";
@import "./nav__logo.scss";
@import "./nav__menu-button.scss";
@import "./nav__sign-in.scss";

.nav {
    display: block;
    width: 100%;
    height: 2rem;
    margin-top: 22px;
    text-align: center;
}
