@use "src/styles/base.scss";
.nav__menu {
    overflow: hidden;
    z-index: 10;
    display: none;
    margin: 0;
    flex-flow: column;
    background-color: base.$white;

    button {
        display: none;
    }
}
