.nav__logo {
    padding: 0;
    color: base.$blue;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    background-color: base.$white;
    border: 0;
}

.nav__logo:hover {
    cursor: pointer;
    outline: none;
    background-color: rgba(base.$black, 0.1);
}
