.nav__account-menu_expanded {
    padding-top: 20px;
    width: 20rem;
    position: absolute;

    button {
        float: none;
        display: block;
        text-align: right;
    }
}

@media screen and (max-width: 960px) {
    .nav__account-menu_expanded {
        height: 89vh;
        width: 96vw;
    }
}