@use "src/styles/base.scss";
.nav__avatar {
    z-index: 22;
    border: none;
    width: 2.5rem;
    padding: 0;
    height: 2.5rem;
    display: block;
    background-color: transparent;

    svg {
        border: 0;
        width: 2.5rem;
        height: 2.5rem;
        color: rgba(base.$black, 0.4);
    }
}

.nav__avatar:hover {
    cursor: pointer;
}
