.nav__menu-button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $white;
    border: none;
    outline: none;
    display: flex;
    align-self: center;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    p {
        width: 1.8rem;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        height: 2px;
        background: rgba($black, 0.45);
    }
}

.nav__menu-button:hover {
    background-color: rgba($black, 0.1);
    outline: none;
    cursor: pointer;

    p {
        background: rgba($black, 0.55);
    }
}
