.nav__account-menu {
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    text-align: right;
    z-index: 21;
    background-color: base.$white;

    button {
        display: none;
    }
}
