.nav__account-menu_expanded {
    top: 3.5rem;
    position: absolute;

    button {
        margin-right: 0.5rem;
        float: none;
        display: block;
        width: 100%;
        text-align: right;
    }

    @include base.for-desktop-down {
        height: calc(100vh - 3.5rem);
        width: calc(100vw);
    }
}
