.nav__logo {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 29px;
    background-color: $white;
    border: 0;
    text-decoration: none;
    font-weight: 400;
    color: $black;
}

.nav__logo:hover {
    cursor: pointer;
    outline: none;
}
