.nav__link {
    float: left;
    width: inherit;
    max-width: 20rem;
    border: none;
    background-color: base.$white;
    text-decoration: none !important;
    display: block;
    color: rgba(base.$black, 0.6);
    text-align: center;
    padding: 14px 16px;
    font-size: base.$font-size;
}

.nav__link:hover {
    background-color: rgba(base.$black, 0.1);
    cursor: pointer;
    color: rgba(base.$black, 0.7);
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;
}
