.nav__avatar {
    right: 25px;
    z-index: 12;
    top: 16.5px;
    margin: 0;
    position: absolute;
    border-radius: 50%;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}

.nav__avatar:hover {
    cursor: pointer;
}
