.nav__sign-in {
    right: 25px;
    top: 25px;
    margin: 0;
    background-color: $white;
    border: $white;
    outline: none;
    position: absolute;
    display: block;
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    background-color: $white;
    border: 0;
    font-size: 25px;
    text-decoration: none;
    font-weight: 100;
    color: rgba($black, 0.3);
}

.nav__sign-in:hover {
    cursor: pointer;
    color: rgba($black, 0.45);
}
