.nav__menu_expanded {
    padding-top: 20px;
    position: absolute;

    button {
        float: none;
        display: block;
        text-align: left;
    }
}


@media screen and (max-width: 960px) {
    .nav__menu_expanded {
        height: 89vh;
        width: 96vw;
    }
}