@use "src/styles/base.scss";
.nav__menu_expanded {
    position: absolute;
    top: 3.5rem;
    display: flex;
    left: 0;

    button {
        margin-left: 0.5rem;
        float: none;
        width: 100%;
        display: block;
        text-align: left;
    }

    a {
        margin-left: 0.5rem;
        float: none;
        width: 100%;
        text-align: left;
    }

    @include base.for-desktop-down {
        height: calc(100vh - 3.5rem);
        width: calc(100vw);
    }
}
