.nav__sign-in {
    background-color: $white;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    font-size: 2rem;
    text-decoration: none;
    color: rgba($black, 0.4);
}

.nav__sign-in:hover {
    color: rgba($black, 0.5);
    cursor: pointer;
    background-color: rgba($black, 0.1);
}
