.nav__account-menu {
    overflow: hidden;
    width: 20rem;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 21;
    background-color: $white;

    button {
        display: none;
    }
}
