.cards-list {
    display: flex;
    margin-top: 10vh;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

@media all and (max-width: 750px) {
    .cards-list {
        flex-direction: column;
    }
}

@media print {
    .cards-list {
        position: absolute;
        flex-direction: row;
        margin-top: 0;
        top: 0;
    }
}
