.toggle-button__layer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: rgba($green, 0.1);
    transition: 0.3s ease all;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100px;
}
