.toggle-button__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toggle-button__cover::before {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: $font-size;
    line-height: 1;
    padding: 5px;
}
