.toggle-button__checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.toggle-button__checkbox:active + .toggle-button__knobs:before {
    width: 46px;
    border-radius: 100px;
}

.toggle-button__checkbox:checked:active + .toggle-button__knobs:before {
    margin-left: -26px;
}

.toggle-button__checkbox:checked + .toggle-button__knobs:before {
    content: "";
    left: 42px;

    background-color: rgba($blue, 1);
}

.toggle-button__checkbox:checked ~ .toggle-button__layer {
    background-color: rgba($blue, 0.1);
}
