.toggle-button__layer {
    width: 100%;
    background-color: rgba(base.$green, 0.1);
    transition: 0.3s ease all;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100px;
}
