@import "../variables.scss";

@import "./toggle-button__button.scss";
@import "./toggle-button__checkbox.scss";
@import "./toggle-button__cover.scss";
@import "./toggle-button__knobs.scss";
@import "./toggle-button__layer.scss";
@import "./toggle-button__text.scss";

.toggle-button {
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 74px;
    height: 36px;
}
