@import "../../variables.scss";


.lotView {
    text-align: start;
    font-size: $font-size;
}

.lotEdit {
    margin-top: 20px;
    display: flex;
    height: 9.5rem;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba($black, 0.2);
    width: 20rem;
    overflow: auto;
    overflow-y: hidden;

    flex-direction: column;
}

.lotNumber {
    color: rgba($black, 0.5);
    margin-left: 10px;
}

.lotCell {
    width: 9rem;
    height: 3.5rem;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba($black, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    button {
        background-color: $white;
        text-align: center;
        font-size: 20px;
        border: none;
    }

    button:hover {
        cursor: pointer;
    }

    .lotRemove {
        margin-top: 4px;
    }
}

.addLot {
    width: 9rem;
    height: 3.5rem;
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
    border: none;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addLot:hover {
    cursor: pointer;
}

.inputLot {
    width: 9rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    input {
        width: 5rem;
        border-radius: 5px;
        border-style: solid;
        border-color: rgba($black, 0.2);
        border-width: 1px;
    }

    button {
        border: none;
        font-size: 18px;
        background-color: $white;
    }

    button:hover {
        cursor: pointer;
    }
}
