$font-size: 1.2rem;

$blue: #0984e3;
$lightblue: #74b9ff;
$green: #00b894;
$white: #ffffff;
$black: #000000;
$grey: #636e72;
$red: #d63031;
$yellow: #fdcb6e;
$darkgrey: #2d3436;

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 901px) {
        @content;
    }
}

@mixin for-tablet-landscape-down {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1201px) {
        @content;
    }
}

@mixin for-desktop-down {
    @media (max-width: 1200px), (max-height: 700px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

@mixin for-print {
    @media print {
        @content;
    }
}
