$font-size: 1.2rem;
$title-font-size: 1.5rem;
$alt-font-size: 1rem;

$blue: #0984e3;
$green: #00b894;
$white: #ffffff;
$black: #000000;
$grey: #dddddd;
$red: #d63031;
$yellow: #fdcb6e;

$font-color: rgba($black, 0.7);