@import "../App/functions.scss";

%editButton {
	margin: 3px;
	border-style: solid;
	background-color: transparent;
	width: 4em;
    border-radius: 5px;
    color: getColor(base);
}

.card {
	display: block;
	width: 50%;
	border-style: solid;
	border-color: getColor(border);
	border-width: 2px;
	border-radius: 5px;
}

.card h5 {
	border-radius: 5px 5px 0px 0px;
	background-color: getColor(nav-bg);
	border-bottom: 1.5px solid getColor(border);
	padding: 10px;
	margin-bottom: 0;
}

.cardContent {
	margin-top: 0;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
	background-color: getColor(nav-bg);
}

.starButton {
	@extend %editButton;

	border-color: #fdcb6e;
}

.starButton:hover {
	background-color: #fdcb6e;
}

.printButton {
	@extend %editButton;

	border-color: #00bfa5;
}

.printButton:hover {
	background-color: #00bfa5;
}

.saveButton {
	@extend %editButton;

	border-color: #43a047;
}

.saveButton:hover {
	background-color: #43a047;
}

.deleteButton {
	@extend %editButton;

	border-color: #757575;
}

.deleteButton:hover {
	background-color: #757575;
}
