@import "../../functions.scss";

.cardsHolder {
  flex-wrap: wrap;
  display: flex;
}

.card {
  margin: 10px;
	background-color: getColor(bg);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.cardsRoot {
  margin-left: 0;
	background-color: getColor(bg);
}

.link-button {
  background-color: transparent;
  border: none;
  color: getColor(secondary);
  margin: 0px 10px 10px 10px;
}

.link-button:hover {
  background-color: transparent;
  border: none;
}
