@use "src/styles/base.scss";
.calculation__submit {
    width: 20rem;
    margin-top: 20px;

    button {
        width: inherit;
    }

    @include base.for-phone-only {
        width: 15rem;
    }
}
