.calculation__lot-view {
    text-align: start;
    font-size: $font-size;
    width: 9rem;
    margin-left: 1rem;
}

@media all and (min-width: 1360px) {
    .calculation__lot-view {
        position: absolute;
        top: calc(50vh - 11rem);
        left: calc(50vw - 36rem);
    }
}
