@import "calculation__mode-select.scss";
@import "calculation__file-select.scss";
@import "calculation__submit.scss";
@import "calculation__lot-view.scss";

.calculation {
    display: flex;
    flex-flow: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3.5rem);

    @include base.for-print {
        display: none;
    }
}
