@import "../../functions.scss";
@import "../../defaults.scss";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "segoe ui";
}

.nav {
	width: 100%;
	background-color: getColor(nav-bg);
	position: absolute;
	align-items: center;
	display: inline-flex;
	top: 0;
	z-index: 100;
}

.nav-brand > a {
	font-size: 24px;
	color: getColor(base);
	background-color: getColor(nav-bg);
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-brand > a:hover {
	background-color: getColor(nav-bg);
	text-decoration: none;
	color: getColor(base);
}

.locale button {
	@extend %button-standard;
	background-color: getColor(secondary);
	border-color: getColor(secondary);
	color: getColor(whitish);
	height: 2.3rem;
	width: 2.3rem;
	padding: 0.4em 0.4em;
	font-size: 16px;
	margin-right: 4px;
	margin-left: 4px;
}

.locale {
	margin-right: 20px;
	display: flex;
}


.theme {
	margin-right: 20px;
}

.theme button {
	@extend %button-standard;
	background-color: getColor(base);
	color: getColor(bg);
	border-color: getColor(base);
	padding: 0.4em 0.4em;
	font-size: 20px;
	width: 2.5rem;
	height: 2.5rem;
}

.signOut {
	margin-right: 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.signOut button {
	@extend %button-standard;
	background-color: getColor(secondary);
	color: #ffffff;
	height: 2.3rem;
	width: 6em;
	border-color: getColor(secondary);
}

.nav > .nav-btn {
	display: none;
}

.nav > .nav-links {
	display: inline-flex;
	font-size: 18px;
	width: calc(100vw - 517.28px);
}

.nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px;
	text-decoration: none;
	color: getColor(nav-links);
}

.nav > .nav-links > a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
	display: none;
}
@media (max-width: 700px) {
	.nav > .nav-btn {
		display: inline-block;
		position: absolute;
		right: 5px;
		top: 5px;
	}

	.nav > .nav-btn > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

	.nav > .nav-btn > label:hover,
	.nav ~ .nav-btn > label {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.nav > .nav-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid getColor(base);
	}

	.nav > .nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: getColor(nav-bg);
		height: 0;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0;
	}

	.nav > .locale {
		position: absolute;
		display: block;
		width: 100%;
		color: getColor(base);
		height: 0;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 160px;
		left: 0;
	}

	.nav > .theme {
		position: absolute;
		display: block;
		width: 100%;
		color: getColor(base);
		height: 0;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 200px;
		left: 5px;
	}

	.nav > .signOut {
		position: absolute;
		display: block;
		width: 100%;
		color: getColor(base);
		height: 0;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 250px;
		left: 0;
	}

	.nav > .nav-links > a {
		display: block;
		width: 100%;
	}

	.nav > .signOut > button {
		display: block;
		width: 100%;
	}

	.locale,
	.nav > #nav-check:not(:checked) ~ .nav-links,
	.signOut,
	.theme {
		height: 0;
	}

	.nav > #nav-check:checked {
		:root {
			overflow: hidden;
		}
	}

	.nav > #nav-check:checked ~ .nav-links {
		height: calc(70vh - 50px);
		overflow-y: auto;
	}

	.nav > #nav-check:checked ~ .locale {
		height: calc(70vh - 160px);
		overflow-y: auto;
	}

	.nav > #nav-check:checked ~ .theme {
		height: calc(70vh - 200px);
		overflow-y: auto;
	}

	.nav > #nav-check:checked ~ .signOut {
		height: calc(70vh - 250px);
		overflow-y: auto;
	}
}
