.button_link {
    font-size: $font-size;
    background-color: $white;
    display: block;
    height: 2rem;
    border: none;
    color: rgba($black, 0.5);
}

.button_link:hover {
    cursor: pointer;
    color: rgba($black, 0.7);
}
