.button_print {
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    color: rgba(base.$black, 0.4);
    background-color: base.$white;
    font-size: 46px;

    @include base.for-print {
        display: none;
    }
}

.button_print:hover {
    cursor: pointer;
    color: rgba(base.$black, 0.5);
}
