@import "../variables.scss";

.button_icon {
    border-radius: 5px;
    border: none;
    color: rgba($black, 0.4);
    margin-top: 20px;

    background-color: $white;
    font-size: $title-font-size + 1rem;
}

.button_icon:hover {
    cursor: pointer;
    color: rgba($black, 0.5);
}
