.button_icon {
    border-radius: 5px;
    border: none;
    color: rgba(base.$black, 0.4);
    margin-top: 20px;

    background-color: base.$white;
    font-size: 46px;
}

.button_icon:hover {
    cursor: pointer;
    color: rgba(base.$black, 0.3);
}
