@import "./button_link.scss";
@import "./button_icon.scss";
@import "./button_print.scss";

.button {
    height: 2.5rem;
    font-size: base.$font-size;
    border-radius: 5px;

    color: base.$white;
    border: 0;
    background-color: base.$blue;

    transition: all 0.25s ease-in-out;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
}

.button__green {
    background-color: base.$green;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(base.$blue, 0.8);
}

.button__green:hover {
    cursor: pointer;
    background-color: rgba(base.$green, 0.8);
}
