@import "./file-browser__text.scss";
@import "./file-browser__text_minimal.scss";

.file-browser {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 46px;
    width: inherit;

    input {
        margin: 0;
        width: inherit;
        height: inherit;
        filter: alpha(opacity=0);
        opacity: 0;
        z-index: -1;
        position: absolute;
    }
}
