@import "../variables.scss";

.file-browser__text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 27px;
    width: 17rem;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: $font-color;
    background-color: $white;
    border: 0.075rem solid #ddd;
    border-radius: 0.25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgba($black, 0.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-browser__text::before {
    position: absolute;
    top: -0.075rem;
    right: -0.075rem;
    bottom: -0.075rem;
    z-index: 6;
    display: block;
    height: 27px;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: $font-color;
    background-color: rgba($black, 0.05);
    border: 0.075rem solid #ddd;
    border-radius: 0 0.25rem 0.25rem 0;
    box-shadow: none;
}

.file-browser__text:hover > .file-browser__text::before {
    background-color: rgba($black, 0.1);
}

.file-browser__text_en::before {
    content: "Browse";
}

.file-browser__text_ru::before {
    content: "Выбрать";
}

.file-browser__text_uk::before {
    content: "Вибрати";
}
