.file-browser__text_minimal {
    width: 8rem;
    text-align: center;
    border: none;
    box-shadow: none;
}

.file-browser {
    width: 10rem;

    input {
        width: 10rem;
    }
}

.file-browser__text_minimal::before {
    display: none;
}
