@import "../variables.scss";

@import "./file-browser__text.scss";
@import "./file-browser__text_minimal.scss";

.file-browser {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 46px;

    input {
        width: 19rem;
        margin: 0;
        filter: alpha(opacity=0);
        opacity: 0;
    }
}
