.file-browser__text_minimal {
    text-align: center;
    border: none;
    width: inherit;
    padding: 0;
    box-shadow: none;
}

.file-browser__text_minimal::before {
    display: none;
}
