@use "src/styles/base.scss";
.notes__submit {
    position: absolute;
    margin-top: 10px;
    height: 2rem;
    bottom: 10px;
    right: 10px;
    z-index: 19;

    @include base.for-print {
        display: none;
    }
}
