.notes__form {
    border: 1px solid rgba(base.$black, 0.2);
    border-radius: 5px;
    position: relative;
    display: none;
    width: 30rem;
    padding-top: 20px;
    padding-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include base.for-print {
        width: 60vw;
        height: calc(80vh - 40px);
        display: block;
        // height: 80vh;
        // position: absolute;
        // left: 20px;
        // top: 0;
    }

    @include base.for-tablet-landscape-down {
        border-top: none;
        border-radius: 0 0 5px 5px;
    }

    @include base.for-phone-only {
        width: 21rem;
        border-top: none;
    }
}

.notes__form_expanded {
    display: none;
    border: none;
}
