.notes__textarea {
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid rgba($black, 0.3);
    min-width: 20rem;
    min-height: 1.8rem;
    padding-top: 5px;
    max-width: calc(30rem - 20px);
    padding-left: 5px;
    max-height: 10rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@media all and (max-width: 750px) {
    .notes__textarea {
        max-width: 20rem;
    }
}