@use "src/styles/base.scss";
.notes__toggle {
    display: none;
    margin: 0;

    @include base.for-desktop-down {
        display: block;
    }

    @include base.for-print {
        display: none;
    }
}
