.notes__form_elevated {
    top: 50px;
    width: 25rem;
    right: 1rem;
    position: absolute;
    border: none;
    display: block;

    @include base.for-tablet-landscape-down {
        position: relative;
        top: 0;
        right: 0;
        width: 30rem;
        display: none;
        border: 1px solid rgba(base.$black, 0.2);
    }

    @include base.for-phone-only {
        width: 21rem;
    }
}

.notes__form_expanded {
    display: block;
}
