
.notes__form_elevated {
    top: 50px;
    width: 25rem;
    right: 1rem;
    position: absolute;
    border: none;
    display: block;
    z-index: 5;
}

@media screen and (max-width: 1200px) {
    .notes__form_elevated {
        position: relative;
        top: 0;
        right: 0;
        width: 30rem;
        display: none;
        border: 1px solid rgba($black, 0.2);
        border-radius: 5px;
    }
}

@media screen and (max-width: 750px) {
    .notes__form_elevated {
        width: 21rem;
    }
}

@media print {
    .notes__form_elevated {
        height: 100vh;
        position: relative;
    }
}


.notes__form_expanded {
    display: block;
}
