.notes__form {
    border: 1px solid rgba($black, 0.2);
    border-radius: 5px;
    position: relative;
    display: none;
    width: 30rem;
    height: 30rem;
}

.notes__form_expanded {
    display: block;
}

@media all and (max-width: 750px) {
    .notes__form {
        width: 21rem;
    }
}