.notes__input {
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid rgba($black, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 22rem;
    padding-left: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    overflow-wrap: normal;
    font-weight: 400;
    font-size: 16px;
}

@media print {
    .notes__input {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 750px) {
    .notes__input {
        width: 17rem;
    }
}
