.notes__form {
    top: 4rem;
    width: 25rem;
    right: 1rem;
    position: absolute;
    border: none;
    display: block;

    @include base.for-desktop-down {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        top: 0;
        right: 0;
        width: 100%;
        display: none;
        border: 1px solid rgba(base.$black, 0.2);
        border-radius: 5px;
    }

    @include base.for-phone-only {
        width: 100%;
    }

    @include base.for-print {
        width: 60vw;
        height: calc(80vh - 40px);
        display: block;
        height: 80vh;
        position: absolute;
        left: 20px;
        border: none;
        top: 0;
    }
}

.notes__form_expanded {
    display: block;
}
