@import "../variables.scss";

@import "notes__form";
@import "notes__input";
@import "notes__label";
@import "notes__submit";
@import "notes__textarea";
@import "notes__title";
@import "notes__level";
@import "notes__toggle";
@import "notes__print-only";
@import "notes__form_elevated";

.notes {
    width: 10rem;
}

@media screen and (max-width: 960px) {
    .notes {
        width: 90vw;
        position: relative;
    }
}

@media print {
    .notes {
        width: 80vw;
        height: 80vh;
        display: block;
    }
}
