.notes__form {
    border: 1px solid rgba($black, 0.2);
    border-radius: 5px;
    position: relative;
    display: none;
    width: 30rem;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.notes__form_expanded {
    display: none;
    border: none;
}

@media all and (max-width: 750px) {
    .notes__form {
        width: 21rem;
        border-top: none;
    }

}

@media screen and (max-width: 1200px) {
    .notes__form {
        border-top: none;
        border-radius: 0 0 5px 5px;
    }
}


@media print {
    .notes__form {
        width: 60vw;
        height: calc(80vh - 40px);
        display: block;
    }
}
