@import "../variables.scss";

@import "./notes__form.scss";
@import "./notes__input.scss";
@import "./notes__label.scss";
@import "./notes__submit.scss";
@import "./notes__toggle.scss";
@import "./notes__textarea.scss";
@import "./notes__header.scss";
@import "./notes__level.scss";

.notes {
    margin-left: 15px;
    width: 30rem;
}

@media screen and (max-width: 960px) {
    .notes {
        width: 90vw;
    }
}

@media print {
    .notes {
        width: 80vw;
        height: 100vh;
        display: block;
    }
}
