@import "notes__form";
@import "notes__input";
@import "notes__label";
@import "notes__submit";
@import "notes__title";
@import "notes__level";
@import "notes__toggle";

.notes {
    width: 10rem;
    margin: 0;
    display: block;

    @include base.for-desktop-down {
        width: calc(100% - 10px);
        max-width: 30rem;
        position: relative;
        margin-left: 5px;
    }

    @include base.for-print {
        width: 80vw;
        height: 80vh;
        display: block;
        position: absolute;
        transform: rotate(90);
    }
}

@include base.for-print {
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}
