.notes__toggle {
    display: none;
    margin-left: 15px;
}

@media print {
    .notes__toggle {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .notes__toggle {
        display: block;
    }
}