@import "../variables.scss";

@import "./component__element.scss";
@import "./component_centered.scss";
@import "./component__element_centered.scss";
@import "./component__element_margined.scss";

.component {
    font-size: $font-size;
    margin-top: 20px;
}
