.form__submit {
    margin-top: 20px;
    margin-top: 30px;
    width: 6rem;
    height: 2.5rem;
    font-size: $font-size;
    border-radius: 5px;

    color: $white;
    border: 0;
    background-color: rgba($blue, 1);

    transition: all 0.25s ease-in-out;

    text-align: center;
}

.form__submit:hover {
    cursor: pointer;
    background-color: rgba($blue, 0.8);
}
