@import "../variables.scss";

@import "./form__error.scss";
@import "./form__input.scss";

.form {
    display: block;
    text-align: left;
    margin-left: calc(50vw - 8.5rem);
    margin-top: 40px;
}
