%button-standard {
	background-color: getColor(primary);
    color: #ffffff;
    font-size: 18px;
	border-style: solid;
	border-radius: 5px;
    border-color: getColor(primary);
    padding: 0.4em 0.8em;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

%submit {
    background-color: getColor(primary);
    color: #ffffff;
    border-style: solid;
    border-width: 1.5px;
    border-color: getColor(primary);
    border-radius: 5px;
    margin: 20px 30px 0px 0px;
    font-size: 18px;
    padding: 5px;
    width: 7em;
}

%formInput {
    display: block;
    p {
        margin: 20px 0px 10px 0px;
    }
    input {
        width: 20em;
        font-size: 16px;
        border-style: solid;
        border-color: getColor(border);
        border-width: 1.5px;
        border-radius: 5px;
        padding: 5px;
    }
}