@import url('https://api.fonts.coollabs.io/css2?family=Roboto&display=swap');
@import "src/styles/base.scss";

#app {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $font-size;
}

.text_gray {
    color: rgba($black, 0.7);
}
