@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.root {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}