@import url('https://api.fonts.coollabs.io/css2?family=Roboto&display=swap');

.root {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: base.$font-size;
}

.text_gray {
    color: rgba(base.$black, 0.7);
}
