@import "../App/functions.scss";

.bugsBox {
	padding-top: 80px;
	padding-left: 20px;
	height: 100%;
}

.newBugButton {
	background-color: getColor(bg);
	color: getColor(base);
	border-style: solid;
	border-color: getColor(border);
	border-radius: 5px;
	font-size: 25px;
}

.newBugButton:hover {
	background-color: getColor(border);
}

.submitBug {
	background-color: getColor(primary);
	color: #ffffff;
	border-style: solid;
	border-width: 1.5px;
	border-color: getColor(primary);
	border-radius: 5px;
	width: 7em;
	height: 2.5em;
}

.bug {
	margin: 10px;
	display: block;
	border-style: solid;
	border-color: getColor(border);
	border-radius: 5px;
	border-width: 1.5px;
	padding: 5px;
	width: 50em;
}

.bugHeader {
	border-bottom: 1.5px solid getColor(border);
	padding: 10px;
}

.bugHeader small {
	float: right;
}

.bugContent {
	padding: 10px;
}
.modal-window {
	position: fixed;
	background-color: getColor(transparent);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	transition: all 0.3s;
	& > div {
		width: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 2em;
		background: getColor(nav-bg);
	}
	header {
		font-weight: bold;
	}
	h1 {
		font-size: 150%;
		margin: 0 0 15px;
	}
}

.close {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	opacity: 0.3;
}
.close:hover {
	opacity: 1;
}
.close:before,
.close:after {
	position: absolute;
	left: 9px;
	bottom: 0;
	content: " ";
	height: 21px;
	width: 2px;
	background-color: getColor(base);
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.container {
	display: grid;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
}

.title {
	width: 20em;
	border-style: solid;
	border-color: getColor(border);
	border-width: 1.5px;
	border-radius: 5px;
	padding: 5px;
}

.newBugTitle {
	color: getColor(base);
}

.about {
	width: 20em;
	min-height: 5em;
	border-style: solid;
	border-color: getColor(border);
	border-width: 1.5px;
	border-radius: 5px;
	padding: 5px;
}
