.calcButton {
	z-index: 1;
	position: relative;
	font-size: inherit;
	font-family: inherit;
	color: white;
	padding: 0.5em 1em;
	outline: none;
	border: none;
	border-color: transparent;
	background-color: #0984e3;
	border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #81ecec;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.lot {
	position: "relative";
	padding-bottom: 20px;
}

input:checked + .slider {
	background-color: #a29bfe;
}

input:focus + .slider {
	box-shadow: 0 0 1px #a29bfe;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.calcButton::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 5px;
	background-color: #e17055;
	transform-origin: center right;
	transform: scaleX(0);
	transition: transform 0.25s ease-in-out;
}
.calcButton:hover {
	cursor: pointer;
}

.calcButton:hover::before {
	transform-origin: center left;
	transform: scaleX(1);
}
.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}
.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: .075rem solid #ddd;
  border-radius: 0 .25rem .25rem 0;
}

/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}


/* Focus */
.file input:focus ~ .file-span {
	box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #0074d9;
}

.lot input {
	width: 6.5em;
	color: black;
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom-color: hsla(341, 97%, 59%, 0.2);
}

.lot input:focus {
	outline: none;
}

.lot input::placeholder {
	color: hsla(0, 0%, 0%, 0.6);
}

.lot span {
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
	left: 16%;
	width: 35%;
	height: 1px;
	opacity: 0;
	background-color: #e17055;
	transform-origin: center;
	transform: translate(-50%, 0) scaleX(0);
	transition: all 0.3s ease;
}

.lot input:focus ~ .lot span {
	transform: translate(-50%, 0) scaleX(1);
	opacity: 1;
}
