.loading-circle {
	border: 3px solid hsla(185, 100%, 62%, 0.2);
	border-top-color: #0984e3;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
