.loading-circle {
    border: 3px solid rgba(base.$blue, 0.3);
    border-top-color: base.$blue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
